version: "3"
services:
  test:
    build: .
    container_name: doc-writer-test
    environment:
      PORT: 7450
      NODE_PATH: app/src
      NODE_ENV: test
      ELASTIC_URL: elasticsearch:9200
      RABBITMQ_URL: amqp://rabbitmq:5672
    command: test
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq
    ports:
      - "5672"
